<!DOCTYPE html>
{% load static %}
{% load app_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View-All-Products</title>
</head>
<body>
    {% if products %}
        <table border="2px solid" cellpadding="15px" width="100%" style="text-align: center;border-collapse:collapse">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Like</th>
            </tr>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <form action="like/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pname" value="{{product.name}}">
                            <input type="hidden" name="like" value="{% like product.name request.user %}">
                            <button type="submit">{% counter product.name %} {% like product.name request.user %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>no products</h1>
    {% endif %}
</body>
</html>